OPENAI_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
OPENAI_ORGANIZATION="xxxxxxx"
PINECONE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
PINECONE_ENVIRONMENT="xxxxxxxxxxxx"
PINECONE_INDEX_NAME="xxxx"